*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


a {
    text-decoration: none;
    display: inline-block;
    color: var(--primary-color);
}

strong .strong {
    font-weight: var(--font-weight-bold);
}

img {
    max-width: 100%;
}

.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;
}

.open-menu:not(.toggle) {
    overflow: hidden;
}

.page-section{
    padding-block: var(--page-section-padding);
}
.page-compact-section{
    padding-block: var(--page-compact-section-padding);
}
.section_header{
    margin-bottom: 40px;
    .lead{
        font-size: 0.875rem;
        color: var(--primary-color);
    }
    .section_title{
        text-transform: uppercase;
    }
}