@include down-xl {
    .site_header .primary_menu a {
        padding-inline: 10px;
    }
}

@include down-lg {
    .site_header {
        background: var(--light-color);
        padding-inline: 8px;
        .navigation {
            flex-wrap: wrap;
            .social_links {
                display: none;
            }
        }
        
        .brand {
            img {
                display: none;
            }
            .mobile_logo {
                display: block;
            }
        }
        .primary_menu a {
            color: var(--primary-color);
            padding: 0;

            display: block;
            &::after {
                display: none;
            }
        }
        .primary_menu li {
            margin: 15px 0;
        }
        .primary_menu .active a {
            padding-left: 10px;
            border-left: 2px solid var(--secondary-color);
        }
        .primary_menu {
            position: fixed;
            background: #fff;
            display: block;
            width: 100%;
            max-width: 260px;
            transition: all ease-in-out 0.3s;
            transform: translateX(-110%);
            left: 0;
            top: 0;
            height: 100%;
            box-shadow: 0 0 10px rgb(0, 0, 0, 0.65);
            padding: 30px;
            overflow: auto;
        }
    }
    .top_social_links {
        display: block;
        padding: 15px;
        background: var(--primary-color);
        .social_links {
            justify-content: center;
        }
    }

    .primary_menu_open {
        overflow: hidden;
        .primary_menu {
            transform: none;
            z-index: 99;
        }
        .site_header::after {
            opacity: 0.65;
            visibility: visible;
        }
    }

    // clinet card
    .client_cards {
        flex-wrap: wrap;
        justify-content: center;
        .item {
            width: 30%;
        }
    }
}

@include down-md {
    :root {
        --page-section-padding: 60px;
    }
    .top_social_links{
        padding: 8px;
    }
    .page-section, .page-compact-section{
        padding-inline: 8px;
    }
    .section_header {
        margin-bottom: 30px;        
    }
    .testimonial .testimonial_wrapper {
        padding: 53px 36px;
    }
    .hero {
        padding-block: 80px;
        .hero_logo {
            max-width: 212px;
            margin-bottom: 40px;
        }
        p {
            font-size: 1.125rem;
        }
        .btn {
            margin-top: 5px;
        }
        .btn-lg {
            padding: 15px 15px;
        }
    }

    .btn {
        font-size: 0.875rem;
    }

    .client_projects .client_cards {
        display: block;
        text-align: center;
        padding-inline: 50px;
        .item {
            width: 100%;
            margin-bottom: 20px;
            display: inline-block;
        }
    }
    .office_card {
        padding-right: 0;
    }
    .fc_jumbotron .image_wrap {
        padding-left: 24px;
    }
    .fc_jumbotron .content_wrap {
        padding-right: 24px;
    }

    .testimonial .testimonial_wrapper .nav_btn {
        bottom: -20px;
        margin: auto;
        top: unset;
        height: 39px;
        width: 39px;
    }
    .testimonial .testimonial_wrapper .swiper-button-prev,
    .testimonial .testimonial_wrapper .swiper-rtl .swiper-button-next {
        left: -55px;
        right: 0;
    }
    .testimonial .testimonial_wrapper .swiper-button-next,
    .testimonial .testimonial_wrapper .swiper-rtl .swiper-button-prev {
        right: 0;
        left: 55px;
    }
    .blog_cards {
        padding: 60px 8px;
        .col-md-4:not(:only-of-type) {
            margin-bottom: 20px;
        }
        .mt-40 {
            margin-top: 20px;
        }
    }
    .contact_form_outer {
        padding-top: 0;
        background-size: 60%;
    }
    .office_card img {
        margin-bottom: 20px;
    }

    .contact_form {
        margin-top: 109px;
        padding: 34px 26px;
        .submit_btn {
            width: 100%;
        }
    }

    .site_footer {
        padding-block: 50px;
        .contact_list {
            margin: 0 auto;
            display: block;
            width: max-content;
        }
        .footer_logo {
            max-width: 250px;
            margin-inline: auto;
            display: block;
            margin-bottom: 40px;
        }
        .md-row_resverse {
            flex-direction: column-reverse;
        }
        .footer_lead {
            margin-block: 30px 40px;
            font-size: 1rem;
        }

        .footer_copyright {
            max-width: 240px;
            margin-inline: auto;
        }
    }

    .section_title{
        font-size: 30px;
    }
    .fc_jumbotron .section_title {
        margin-bottom: 15px;
    }

    .client_projects .section_title{
        margin-bottom: 48px;
    }

    .blog_cards .card figcaption {
        padding: 24px 24px 34px;
    }

    .social_links a{
        height: 19px !important;
        width: 19px !important;
        img{
            height: 9px !important;
            width: 9px !important;
        }
    }
    .testimonial .testimonial_wrapper .swiper-button-next:after, .testimonial .testimonial_wrapper .swiper-button-prev:after{
        font-size: 14px;
    }
}
