:root {
    --primary-color: #011850;
    --secondary-color: #ed1f24;
    --secondary-color--dark: #bf070c;
    --light-color: #fff;
    --text-color: #666;
    --primary-filter: invert(6%) sepia(74%) saturate(5668%) hue-rotate(225deg) brightness(78%) contrast(99%);

    --font-family: "Inter", sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial,
        "Noto Sans", "Liberation Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-size: 1rem; //16px
    --line-height: 1.4;
    --h1-size: 5rem; // 80px
    --h2-size: 34px;
    --h3-size: 20px;

    --heading-color: var(--primary-color);
    --line-height--heading: 1.2;

    --font-weight: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    --page-section-padding: 100px;
    --page-compact-section-padding: 40px;
    --heading-margin: 0 0 10px;
}

@import "common";
@import "breakpoints";
@import "typography";

.top_social_links {
    display: none;
}
.site_header {
    background: var(--primary-color);
    color: var(--light-color);
    position: sticky;
    top: 0;
    z-index: 999;
    a {
        color: var(--light-color);
    }
    .brand img {
        max-width: 160px;
    }
    .mobile_logo {
        display: none;
    }
    .primary_menu {
        list-style: none;
        display: flex;
        align-items: flex-end;
        a {
            text-transform: uppercase;
            padding-inline: 23px;
            font-size: 0.875rem;
            font-weight: var(--font-weight-bold);
            &::after {
                content: "";
                display: block;
                position: relative;
                height: 2px;
                width: 0;
                background: var(--secondary-color);
                margin-top: 8px;
                transition: all ease-in-out 400ms;
            }
        }
        .active,
        li:hover {
            a::after {
                width: 100%;
            }
        }
    }

    .navigation {
        display: flex;
        justify-content: space-between;
        padding-block: 15px;
    }

    &::after {
        content: "";
        inset: 0;
        position: fixed;
        background: var(--primary-color);
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease-in-out;
    }
}

.toggle {
    height: 29px;
    width: 29px;
    flex: 0 0 35px;
    border: 0;
    padding: 7px 5px;
    position: relative;
    z-index: 9999;
    outline: 0 !important;
    background: transparent;
    cursor: pointer;
    display: none;
    @include down-lg {
        display: inline-flex;
    }
    span {
        height: 2px;
        width: 75%;
        background: var(--primary-color);
        display: block;
        position: absolute;
        right: 0;
        left: 0;
        margin: auto;
        transition: all ease 0.3s;
        &:nth-child(1) {
            top: 5px;
        }
        &:nth-child(2) {
            top: 15px;
        }
        &:nth-child(3) {
            top: 25px;
        }
    }
    &.active {
        span {
            transition: all ease 0.3s;
            background: var(--light-color);
            &:first-child {
                transform: rotate(45deg);
                top: 15px;
            }
            &:nth-child(2) {
                opacity: 0;
            }
            &:nth-child(3) {
                transform: rotate(-45deg);
                top: 15px;
            }
        }
    }
}

.social_links {
    display: flex;
    align-items: center;
    list-style: none;
    li:not(:last-child) {
        margin-right: 5.5px;
    }
    a {
        border-radius: 50%;
        height: 31px;
        width: 31px;
        border: 1px solid var(--light-color);
        background: var(--primary-color);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all ease-in-out 400ms;

        img {
            filter: invert(100);
        }
        &:hover {
            background: var(--light-color);
            img {
                filter: var(--primary-filter);
            }
        }
    }
}

.hero {
    text-align: center;
    background: url(../images/hero_image.jpg) no-repeat center;
    background-size: cover;
    padding-block: 120px;
    position: relative;
    display: flex;
    align-items: center;
    .hero_logo {
        margin-bottom: 60px;
        max-width: 418px;
        width: 100%;
    }
    p {
        color: var(--light-color);
        font-size: 1.25rem;
    }
    &::after {
        content: "";
        inset: 0;
        background: var(--primary-color);
        opacity: 0.65;
        position: absolute;
    }
    .container {
        position: relative;
        z-index: 99;
    }
    .btn {
        margin-top: 25px;
    }
    .hero_innerwrap {
        max-width: 760px;
        margin-inline: auto;
    }
}

.btn {
    background: var(--secondary-color);
    color: var(--light-color);
    padding: 16px 32px;
    transition: all ease-in-out 0.3s;
    text-transform: uppercase;
    font-weight: var(--font-weight-bold);
    border: 0;
    &:hover {
        background: var(--secondary-color--dark);
    }
    &:focus {
        outline: 2px solid var(--primary-color);
        outline-offset: -4px;
    }

    &-lg {
        padding: 20px 42px;
    }
}

.fc_jumbotron {
    .section_title {
        margin-bottom: 20px;
    }
    img {
        width: 100%;
    }
    .bg-element {
        top: -113px;
        left: -94px;
    }
    .image_wrap {
        padding-left: 35px;
    }
    .content_wrap {
        padding-right: 60px;
    }
}

.client_projects {
    // overflow: hidden;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all ease-in-out 0.3s;
    }
    .client_cards {
        display: flex;
        gap: 10px;
    }
    .item figcaption {
        position: absolute;
        width: 100%;
        bottom: -100%;
        background: linear-gradient(180deg, rgba(1, 24, 80, 0) 0%, #050a14 100%);
        transition: all ease-in-out 0.3s;
        padding: 80px 20px 44px;
        p {
            color: var(--light-color);
            font-size: 0.875rem;
            font-weight: var(--font-weight-medium);
        }
        --heading-color: var(--light-color);
    }
    .item {
        width: 20%;
        position: relative;
        overflow: hidden;

        &:hover {
            figcaption {
                bottom: 0;
            }
            img {
                transform: scale(1.05);
            }
        }
    }
    
}

.blog_cards {
    .bg-element{
        right: -90px;
        bottom: -100px;
    }
    .card {
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
        border-radius: 12px;
        overflow: hidden;
        height: 100%;
        transition: all ease-in-out .3s;
        position: relative;
        background: var(--light-color);
        img{
            width: 100%;
            aspect-ratio: 1.5;
            object-fit: cover;
            transition: all ease-in-out .3s;
        }
        figcaption{
            padding: 30px 24px 47px;
        }
        .title{
            text-transform: uppercase;
            margin-bottom: 20px;
            a{
                transition: color ease-in-out .5s;
            }
        }
        p{
            font-size: 0.9375rem;
        }
    
        &:hover{
            
            box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
            z-index: 99;
            img{
                transform: scale(1.05) translateY(-7px);
            }
            .title a{
                color: var(--secondary-color);
            }
        }
    }
}

// bg elements
.has_bg_element {
    position: relative;
}

.bg-element {
    position: absolute;
    max-width: 100%;
    z-index: -1;
    width: 200px !important;
    height: 200px;
}

.testimonial {
    background: url("../images/outer_testimonial_bg.jpg") no-repeat center;
    background-size: cover;
    .title {
        text-transform: uppercase;
        font-size: 30px;
    }

    p {
        color: var(--light-color);
        line-height: 1.5;
    }
    .testimonial_wrapper {
        --heading-color: var(--light-color);
        padding: 83px 106px;
        border-radius: 15px;
        background-image: url("../images/testimonial_bg.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        * {
            position: relative;
        }
        &::before {
            content: "";
            inset: 0;
            background: var(--primary-color);
            position: absolute;
            opacity: 0.9;
            border-radius: 15px;
        }
        .nav_btn {
            position: absolute;
            border-radius: 50%;
            height: 60px;
            width: 60px;
            background: #f5f5f5;
            border: 1px solid #ffffff;
            box-shadow: 0px 0px 25px rgba(1, 24, 80, 0.2);
            transition: box-shadow 0.3s ease-in-out;
        }
        .swiper-button-next:after,
        .swiper-button-prev:after {
            font-size: 21px;
            color: #000;
        }
        .swiper-button-prev,
        .swiper-rtl .swiper-button-next {
            left: -30px;
        }
        .swiper-button-next,
        .swiper-rtl .swiper-button-prev {
            right: -30px;
        }
        .swiper-button-next.swiper-button-disabled,
        .swiper-button-prev.swiper-button-disabled {
            opacity: 1;
            box-shadow: none;
            &::after {
                color: rgba(0, 0, 0, 0.3);
            }
        }
    }
}

.ratings {
    list-style: none;
    display: flex;
    margin-bottom: 25px;
    li {
        height: 21px;
        width: 21px;
        background: url("../images/icons/Star.svg") no-repeat center;
        background-size: contain;
        &:not(:last-child) {
            margin-right: 5px;
        }
    }
}

.office_card{
    padding-right: 68px;
    img{
        width: 100%;
        margin-bottom: 40px;
    }
    .title{
        font-size: 1.625rem;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
}

.icon_box{
    li{
        display: flex;
        .icon{
            max-width: 30px;
            margin-right: 5px;
            margin-left: -4px;
        }
    }
}
.contact_form_outer{
    background: url(../images/bg_elements/big-logo.png) bottom right no-repeat;
}
.contact_form{
    padding: 50px 60px;
    border: 1px solid #BFBFBF;
    background: var(--light-color);
    label{
        display: block;
        color: #333333;
        margin-bottom: 8px;
        font-weight: var(--font-weight-medium);
    }
    .field_group{
        &:not(:last-child){
            margin-bottom: 18px;
        }        
    }
    .submit_btn{
        width: 50%;
    }
    input,textarea{
        background: #F8F8F8;
        padding: 17px 20px 17px;
        border: 0;
        display: block;
        width: 100%;
        resize: vertical;
        transition: all .3s ease-in-out;
        &:focus{
            outline: 0;
            box-shadow: 0px 0px 20px rgb(0, 0, 0, 0.1); 
            background: var(--light-color)           
        }
    }
}


.cta_section{
    padding-block: 70px;
    background: url('../images/cta_bg.jpg') no-repeat center;
    background-size: cover;
    --heading-color:var(--light-color);
    p{
        color: var(--light-color);
        margin-bottom: 0;
    }
    .btn{
        margin-top: 35px;
    }

    .section_header{
        margin-bottom: 0;
    }
}

.site_footer {
    .footer_lead{
        font-size: 1.25rem;
        font-weight: var(--font-weight-semibold);
        color: var(--primary-color);
        margin-block: 40px 50px;
    }
    .footer_copyright{
        font-size: 0.875rem;
    }    
}
.contact_list {
    li{
        list-style: none;
        display: flex;
        &:not(:last-child){
            margin-bottom: 10px;
        }
        .icon{
            width: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 10px;
        }
        p{
            font-size: 1.25rem;
            font-weight: var(--font-weight-bold);
            color: var(--primary-color)
        }
    }
}


@import "common_responsive";
